/* 전체 검색 및 필터 섹션 */
.alarm__filter-container {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 0.5rem 1.25rem;
    border-radius: 0.625rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
    gap: 0.4375rem;
    width: 84%; /* 컨테이너 너비 고정 */
    height: 3.75rem;
    margin: 0 auto;
    margin-bottom: 1.25rem;
}

/* 구분선 스타일 */
.alarm__filter-divider {
    border-right: 0.0625rem dashed #909090;
    height: 1.75rem;
    margin: 0 0.5rem;
}

/* 데이터 그리드 셀 스타일 */
.alarm__custom-cell {
    color: #3e3e3e;
}

/* 데이터 그리드 헤더 스타일 */
.alarm__custom-header {
    color: #7785BE;
    font-weight: bold !important;
    background-color: rgb(235, 240, 245);
}

/* 검색 입력 스타일 */
.alarm__search-input {
    padding: 0.53125rem 0.9375rem;
    border-radius: 0.3125rem;
    border: 0.0625rem solid #7785BE; 
    color: #7785BE;
    background-color: white;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

/* 검색 버튼 스타일 */
.alarm__search-btn {
    font-size: 0.9375rem;
    padding: 0.5rem 1rem; 
    border-radius: 0.3125rem; 
    border: 0.0625rem solid #7785BE; 
    color: #7785BE;
    background-color: white;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.alarm__search-btn:hover {
    background-color: #7785BE;
    color: white;
}

/* 페이지네이션 컨테이너 */
.alarm__pagination-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 100%; 
    margin-top: 1.25rem;
}

/* 날짜 선택기 관련 스타일 */
.alarm__date-picker-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

/* 텍스트 필드 및 선택창 크기 조정 */
.alarm__filter-group {
    display: flex;
    align-items: center; 
}

.alarm__filter-select {
    width: 9.0625rem; 
}
