.chart__header-container {
    display: flex;
    align-items: center; /* 수직 정렬 */
    padding: 20px;
    margin-bottom: 20px;
}

.chart__title {
    color: #2F2F2F;
    font-weight: bold;
    font-size: 1.3rem;
    margin-top: 5px;
    width: 180px;
}

.chart__controls {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-left: 100px;
}

@media (max-width: 1530px) {
    .chart__controls {
        margin-left: 30%;
    }
}

@media (max-width: 1400px) {
    .chart__controls {
        margin-left: 30%;
    }
}

.chart__dropdown-wrapper {
    display: inline-block;
    position: relative; /* 드롭다운의 부모 컨테이너를 기준으로 드롭다운 메뉴가 위치 */
}

.chart__dropdown-button {
    background-color: white;
    border: 1px solid #BCBCBC;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
    color: #717171;
    display: inline-flex;
    align-items: center;
    z-index: 2; /* 드롭다운 버튼이 위에 표시되도록 z-index 설정 */
    width: 80px;
    text-align: center;
}

.chart__dropdown-arrow {
    display: inline-block;
    margin-left: 8px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #7C97FE;
}

.chart__dropdown-menu {
    position: absolute;
    top: 100%; /* 드롭다운 버튼 바로 아래에 배치 */
    left: 0;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    list-style: none;
    padding: 0;
    margin: 8px 0 0; /* 드롭다운 메뉴가 약간 아래로 떨어지도록 */
    z-index: 1;
}

.chart__dropdown-item {
    padding: 8px 12px;
    cursor: pointer;
    font-size: 12px;
    color: #333;
    border-bottom: 1px solid #ddd;
    width: 80px;
    text-align: center;
}

.chart__dropdown-item--selected {
    color: #007BFF;
}

.chart__refresh-button {
    background-color: white;
    color: #717171;
    border: 1px solid #BCBCBC;
    padding: 5.5px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
}

.chart__refresh-button:hover {
    background-color: #F5F5F5;
}
