
.work {
    width: 436px;
    height: 423px;
    background: white;
    border-radius: 6px;
    border: 1px solid #C4C4C4;
}

.header-container {
    display: flex;
    align-items: center; /* 수직 정렬 */
    margin-bottom: 20px;
    padding: 20px;
}

.title {
    color: #2F2F2F;
    font-weight: bold;
    margin: 0; /* 여백을 없애서 중앙에 딱 맞게 배치 */
}

.controls {
    display: flex;
    align-items: center;
    gap: 8px; /* 버튼 사이 간격 */
    margin-left: 120px;
}


.dropdown-wrapper {
    position: relative;
}

.dropdown-button {
    background-color: white;
    border: 1px solid #BCBCBC;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
    color: #717171;
    display: inline-flex;
    align-items: center;
}

.dropdown-arrow {
    display: inline-block;
    margin-left: 8px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #7C97FE;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    list-style: none;
    padding: 0;
    margin: 8px 0 0;
    z-index: 1;
}

.dropdown-item {
    padding: 8px 12px;
    cursor: pointer;
    font-size: 12px;
    color: #333;
    border-bottom: 1px solid #ddd;
}

.dropdown-item.selected {
    color: #007BFF;
}

.refresh-button {
    background-color: white;
    color: #717171;
    border: 1px solid #BCBCBC;
    padding: 7px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
    margin-right: 8px;
}


.refresh-button:hover {
    background-color: #F5F5F5;
}
