* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    margin-bottom: 0 !important;
}

#overView-text {
    margin-left: 20px;
    margin-bottom: 20px;
}

.content {
    padding: 1.25rem;
    flex: 1;
}

.total {
    width: 1758px;
    height: 471px;
    margin-left: 20px;
    display: flex;
    gap: 40px;
}

.project {
    margin-left: 20px;
}

.projectCard-header {
    display: flex;
    margin-bottom: 20px;
    padding-top: 18px;
    padding-left: 20px;
}

#card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 20px;
    height: 270px;
    overflow-y: scroll;
}

#card-container::-webkit-scrollbar {
    width: 10px;
}

#card-container::-webkit-scrollbar-thumb {
    background: #7C97FE; /*스크롤바 색상*/
    border-radius: 10px;   /*스크롤바 둥글게 */
}

#card-container::-webkit-scrollbar-track {
    background: #F6F6F6;
}

.project-count {
    color: #7C97FE;
}