/* 헤더 스타일 */
.header {
    display: flex;
    z-index: 2;
    justify-content: space-between;
    align-items: center;
    padding: 0.25rem 1.25rem;
    background-color: white;
    border-bottom: 0.0625rem solid #e2e8f0;
    box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
    min-height: 4.625rem;
    position: relative;
}

.header__back-icon {
    position: absolute;
    left: 1.4375rem;
    top: 50%;
    transform: translateY(-50%);
    width: 1.75rem;
    height: 1.75rem;
    cursor: pointer;
}

.header__title {
    margin-left: 3.25rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: #25283B;
}

.header__search {
    display: flex;
    align-items: center;
    background-color: #EAEAEA;
    border-radius: 6px;
    padding: 0.3125rem 0.625rem;
    justify-content: flex-start; /* 왼쪽 정렬 */
    transition: width 0.3s ease; /* 너비가 변할 때 부드럽게 조정 */
    width: 22.3125rem;
    height: 2.5rem;
}

.header__search-input {
    flex: 1;
    border: none;
    background-color: transparent;
    padding-left: 0.5rem;
    outline: none;
    transition: width 0.3s ease; /* 너비가 변할 때 부드럽게 조정 */
}

.header__search-icon {
    width: 1.2rem;
    height: 1.2rem;
}

.header__icons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: nowrap;
}

.header__icon {
    margin-left: 1rem;
    width: 1.6rem;
    height: 1.6rem;
    object-fit: contain;
    cursor: pointer;
}

.header__icon--profile {
    width: 2.475rem;
    height: 2.475rem;
    border-radius: 50%;
}

.header__icon--dropdown {
    width: 0.5rem;
    height: 0.5rem;
    margin-left: 0.3125rem;
    margin-right: 3.75rem;
}

.header__icon-wrapper {
    position: relative;
}

.notification-dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    width: 300px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.notification-dropdown__header {
    padding: 0.7rem 0rem 0.5rem 1.2rem;
    font-weight: bold; /* 글자를 굵게 */
    font-size: 1.2rem; /* 글자 크기를 조정 */
    border-bottom: 1px solid #eee;
}

.notification-dropdown__content {
    max-height: 300px;
    overflow-y: auto;
}

.notification-item {
    display: flex; /* 프로필 사진과 내용을 가로로 배치 */
    align-items: center; /* 세로 가운데 정렬 */
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.notification-item__profile {
    width: 2.2rem; /* 프로필 사진 크기 */
    height: 2.2rem;
    border-radius: 50%; /* 원형으로 만들기 */
    margin-right: 0.8rem; /* 내용과 사진 사이에 간격 추가 */
}

.notification-item__content {
    flex-grow: 1; /* 내용이 가로로 확장되도록 */
    font-size: 14px;
    cursor: pointer;
}

.notification-item small {
    color: #888;
}

.notification-dropdown__more {
    display: block;
    width: 100%;
    padding: 10px;
    background: none;
    border: none;
    text-align: center;
    color: #3e3e3e;
    cursor: pointer;
    text-decoration: underline; /* 밑줄 추가 */
}
