/* 헤더 스타일 */
.header {
    display: flex;
    z-index: 2;
    justify-content: space-between;
    align-items: center;
    padding: 0.25rem 1.25rem;
    background-color: white;
    border-bottom: 0.0625rem solid #e2e8f0;
    box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
    min-height: 4.625rem;
    position: relative;
}

.header__back-icon {
    position: absolute;
    left: 1.4375rem;
    top: 50%;
    transform: translateY(-50%);
    width: 1.75rem;
    height: 1.75rem;
}

.header__title {
    margin-left: 3.25rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: #25283B;
}

.header__search {
    display: flex;
    align-items: center;
    background-color: #EAEAEA;
    border-radius: 6px;
    padding: 0.3125rem 0.625rem;
    justify-content: flex-start; /* 왼쪽 정렬 */
    transition: width 0.3s ease; /* 너비가 변할 때 부드럽게 조정 */
    width: 22.3125rem;
    height: 2.5rem;
}

.header__search-input {
    flex: 1;
    border: none;
    background-color: transparent;
    padding-left: 0.5rem;
    outline: none;
    transition: width 0.3s ease; /* 너비가 변할 때 부드럽게 조정 */
}

.header__search-icon {
    width: 1.2rem;
    height: 1.2rem;
}

.header__icons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: nowrap;
}

.header__icon {
    margin-left: 1rem;
    width: 1.6rem;
    height: 1.6rem;
    object-fit: contain;
}

.header__icon--profile {
    width: 2.475rem;
    height: 2.475rem;
    border-radius: 50%;
}

.header__icon--dropdown {
    width: 0.5rem;
    height: 0.5rem;
    margin-left: 0.3125rem;
    margin-right: 3.75rem;
}
