body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'pretendard', 'NotoSansKR';
}

.join-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(96, 117, 235, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.join-container {
  max-width: 600px;
  width: 500px;
  background-color: white;
  border-radius: 15px;
  padding: 20px 15px 40px 30px;
  box-sizing: border-box;
  position: relative;
  max-height: 100vh;
  overflow-y: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.logo-title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.back-button {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: auto;
  padding: 0;
}

.back-button img {
  margin-right: 30px;
  position: relative;
  width: 24px;
  height: 24px;
  transition: opacity 0.3s ease;
}

.back-button:hover img {
  opacity: 0.7;
}

.logo-title .logo {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.logo-title .title {
  margin-bottom: 10px;
  font-size: 34px;
  font-weight: 700;
  color: black;
}

.signup-title {
  text-align: left;
  margin-bottom: 30px;
}

.signup-title h1 {
  margin: 0;
  font-size: 30px;
  font-weight: 700;
}

.signup-title p {
  margin: 5px 0 0 0;
  font-size: 16px;
  font-weight: 300;
  color: #72737B;
}

.join-form .form-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  transition: margin-bottom 0.3s ease;
}

.join-form .form-group.active {
  margin-bottom: 20px;
}

.join-form .form-group label {
  position: relative;
  width: 120px;
  font-size: 16px;
  color: #6988fb;
  display: flex;
  align-items: center;
}

.join-form .form-group .required {
  color: #3751B4;
  font-size: 14px;
  margin-right: 4px;
}

.input-wrapper {
  position: relative;
  flex: 1;
}

.join-form .form-group input,
.join-form .form-group select {
  width: 90%;
  padding: 10px 40px 10px 12px;
  border: none;
  border-bottom: 1px solid #525252;
  font-size: 16px;
  color: #8E8989;
  transition: border-bottom 0.3s ease;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
  -webkit-text-fill-color: #8E8989 !important;
  box-shadow: 0 0 0 1000px white inset !important;
}

.join-form .form-group input::placeholder,
.join-form .form-group select::placeholder {
  text-align: left;
}

.join-form .form-group input:focus,
.join-form .form-group select:focus {
  outline: none;
}

.input-wrapper .input-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.input-wrapper .input-icon.visible {
  opacity: 1;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  right: 35px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  opacity: 0.6;
}

input[type="date"]::-webkit-calendar-picker-indicator:hover {
  opacity: 1;
}

.input-wrapper.date-input .input-icon {
  right: 10px;
}

.validation-messages {
  position: relative;
  margin-left: 120px;
  margin-bottom: 20px;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.5s ease, opacity 0.5s ease;
}

.validation-messages.visible {
  max-height: 500px;
  opacity: 1;
}

.validation-messages p {
  margin: 2px 0;
  font-size: 14px;
  transition: color 0.3s ease;
}

.validation-messages p.valid {
  color: #3751B4;
}

.validation-messages p.invalid {
  color: #8E8989;
}

.join-form .submit-button {
  text-align: center;
  margin-top: 30px;
}

.join-form .submit-button button {
  width: 50%;
  padding: 12px 0;
  background-color: #cccccc;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 700;
  cursor: not-allowed;
  transition: background-color 0.3s ease;
}

.join-form .submit-button button:enabled {
  background-color: #7C97FE;
  cursor: pointer;
}

.join-form .submit-button button:hover:enabled {
  background-color: #0041ff;
}

.join-form .submit-button button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

@media (max-width: 768px) {
  .join-container {
    width: 90%;
    padding: 20px;
  }

  .signup-title {
    text-align: left;
  }

  .join-form .form-group {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
  }

  .join-form .form-group.active {
    margin-bottom: 20px;
  }

  .join-form .form-group label {
    width: 100%;
    margin-bottom: 5px;
  }

  .validation-messages {
    margin-left: 0;
  }

  .join-form .submit-button button {
    width: 100%;
  }

  .social-buttons {
    flex-wrap: wrap;
  }

  input[type="date"]::-webkit-calendar-picker-indicator {
    right: 35px;
  }

  .input-wrapper.date-input .input-icon {
    right: 10px;
  }
}

.join-form .form-group input.valid,
.join-form .form-group select.valid {
  border-bottom: 2px solid #3751B4;
}
