/* 공통 스타일 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 16px;
  }
  
  body {
    font-family: 'Pretendard', 'NotoSansKR', sans-serif;
    color: #3E3E3E;
    background-color: #F6F6F6;
    overflow: hidden;
  }
  
  /* 전체 레이아웃을 위한 기본 스타일 */
  .layout {
    display: flex;
    flex-direction: column; /* 헤더와 콘텐츠를 수직으로 정렬 */
    height: 100vh;
    position: relative;
  }
  
  .main {
    flex-grow: 1;
    margin-left: 4.375rem; /* 사이드바 너비만큼 메인 영역을 오른쪽으로 밀림 */
    transition: margin-left 0.3s ease; /* 사이드바가 열릴 때 자연스럽게 움직이게 */
    z-index: 9;
  }