* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pretendard', 'NotoSansKR', sans-serif
}

.bm-profileContainer {
    width: 100%;
    height: 100%;
}

.bm-username {
    color: #7C97FE;
    font-weight: normal;
    margin: 10px;
    border-bottom: 1px solid #D0D0D0;
    padding-bottom: 10px;
    font-size: 1.4rem;
}

.bm-profileCard {
    width: 235px;
    height: 421px;
    background: white;
    border-radius: 7px;
    border: 1px solid #C4C4C4;
}

.bm-profile {
    text-align: center;
}

.bm-profile img {
    width: 130px;
    height: 130px;
    object-fit: cover; /* 이미지의 왜곡 없이 원형에 맞도록 크기 조정 */
    border-radius: 50%;
}

.bm-prodile-title {
    display: inline-block;
    color: #7C97FE;
    font-weight: normal;
    margin-top: 20px;
    margin-bottom: 10px;
}

.bm-statusInfo {
    position: relative;
}

.bm-roleInfo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bm-affiliation {
    padding-right: 20px;
    border-right: 1px dotted #D0D0D0;
    margin-right: 35px;
    text-align: center;
    font-size: 1rem;
    margin-left: 10px;
    
}

.bm-affiliation span{
    display: block;
}

.bm-role {
    text-align: center;
    font-size: 1rem;
    margin-right: 10px;
}

.bm-role span {
    display: block;
}

.bm-announcement {
    position: absolute;
    top: 70px;
    left: 117px;
    transform: translateX(-50%);
    border: 1px dotted #DBDBDB;
    background: #F6F8FF;
    width: 220px;
    height: 100px;
}

.bm-announcementDetail {
    color: #929292;
    font-weight: normal;
    font-size: 0.7rem;
    margin-right: 5px;
}

.bm-announcement-title {
    margin-top: 5px;
    margin-left: 8px;
    margin-bottom: 2px;
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
    font-weight: bold;
    color: #2F2F2F;
}

.bm-detailInfo {
    display: inline-flex;
    width: 210px;
}

.bm-detailInfo img {
    width: 9.82px;
    height: 14.59px;
    vertical-align: middle;
    margin-right: 10px;
}

.bm-detailInfo span {
    white-space: nowrap;
}

.bm-detailInfo a {
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    color: #2F2F2F;
    margin-left: 5px;
    text-overflow: ellipsis;
}

.bm-detailInfo {
    align-items: center;
    margin-left: 5px;
    margin-bottom: 5px;
}

.bm-detailInfo span {
    margin: 0;
    font-size: 0.8rem;
}