/* 상단 프로필 배경 및 정보 */
.profile-header {
    position: relative;
    height: 350px;
}

.profile-header-title {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 200px;
    margin-bottom: 50px;
}

h3 {
    color: #3751B4;
    font-size: x-large;
    margin-bottom: 10px;
}

.required-info {
    font-size: 12px;
    color: #96A2CF;
}

.profile-info {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    width: 1200px;
    height: 200px;
    bottom: -80px;
    left: 55%;
    z-index: 100;
    transform: translateX(-50%);
    text-align: center;
}

/* 프로필 이미지 및 수정 버튼 */
.edit-header-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #e6e6e6;
    color: #96A2CF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 5px 10px;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

/* profile-header 호버 시 수정 버튼 표시 */
.profile-header:hover .edit-header-btn {
    opacity: 1;
    visibility: visible;
}

.profile-info__editicon {
    position: absolute;
    bottom: 50px;
    left: 10px;
    cursor: pointer;
    width: 20px;
}

/* Edit 버튼 스타일 */
.edit-status-btn {
    justify-content: center;
    background: none;
    border: none;
    color: rgb(182, 184, 196);
    text-decoration: underline;
    cursor: pointer;
    margin-left: 20px;
}

/* 프로필 이미지 스타일 */
.profile-info__image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-right: 30px;
    margin-top: 30px;
}

/* 프로필 정보 섹션 */
.profile-info__intro {
    width: 700px;
    margin-top: 120px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: flex-end;
}

.profile-info__intro .profile-info__intro--name {
    color: #3e57b9;
    font-size: 26px;
    margin-top: 10px;
    margin-bottom: 2px;
    font-weight: bold;
}

.profile-info__intro .profile-info__intro--role {
    color: #6975bb;
    font-size: 16px;
    margin-bottom: 4px;
    margin-top: 0px;
}

.profile-info__intro .profile-info__intro--status {
    color: #666;
    font-size: 15px;
    margin-top: 0;
}

/* 프로필 버튼들 스타일링 */
.profile-buttons {
    box-sizing: content-box;
    padding-top: 150px;
    padding-left: 150;
}

/* 탭 스타일 */
.tabs {
    justify-content: center;
    margin-top: 120px;
    margin-left: 7px;
}

.tab-links {
    width: 130px;
    height: 40px;
    box-shadow: 2px 0 2px rgba(0, 0, 0, 0.1);
    background-color: #eaeaea;
    border: none;
    outline: none;
    padding: 14px 20px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 15px 150px 0 0;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin: 0 -5px;
    color: #666;
    position: relative;
    z-index: 2;
}

.tab-links:hover {
    background-color: #e6f2ff;
    color: #535db1;
}

/* z-index 수정 부분 */
.tab-links.workstatus {
    z-index: 4; /* workstatus가 가장 위 */
}

.tab-links.alarm {
    z-index: 3; /* alarm이 두 번째 */
}

.tab-links.profile {
    z-index: 2; /* profile이 세 번째 */
}

.tab-links.calendar {
    z-index: 1; /* calendar가 마지막 */
}

/* 각 탭 활성화 시 z-index를 올려줌 */
.tab-links.alarm.active,
.tab-links.workstatus.active,
.tab-links.profile.active,
.tab-links.calendar.active {
    z-index: 5;
    color: #5d66a4;
    font-weight: bold;
    background-color: #f9f9f9;
    /* border-bottom: 2px solid #8799df; */
}

/* 탭 콘텐츠 스타일 */
.tab-content {
    display: none;
    padding: 30px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.1);
}

.tab-content:first-child {
    display: block;
}

/* 프로필 수정 폼 */
.profile-form {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.profile-form__group {
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.profile-form label {
    margin-bottom: 10px;
    width: 150px;
    font-size: 15px;
    font-weight: bold;
    color: #3751B4;
}

.address-label {
    margin-left: 15px;
    width: 135px;
}

/* 폼 내부 input 스타일 */
.profile-form input, .profile-form select {
    padding: 12px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 500px;
    height: 43px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.profile-form__group-address {
    padding: 9px;
    font-size: 14px;
    margin-right: 30px;
    justify-content: space-around;
    width: 500px;
    align-items: flex-end;
}

.profile-form__button {
    padding: 10px 10px;
    background-color: #7785BE;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.profile-form__group:has(.profile-form__submit) {
    margin-bottom: 0;
    border-bottom: none;
}

.profile-form__group:has(.profile-form__group-address) {
    margin-bottom: 0;
    border-bottom: none;
}

.profile-form__button:hover {
    background-color: #535db1;
}

/* 공통 버튼 스타일 */
.button {
    height: 40px;
    padding: 10px 10px;
    background-color: #7785BE;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    display: inline-block;
}

.button-container {
    text-align: center;
}

/* 마우스 오버 시 색상 변경 */
.button:hover {
    background-color: #535db1;
}

.profile-form__submit {
    margin-left: 430px;
    margin-right: 10px;
}

.profile-password__submit {
    margin-left: 10px;
}

/* 두 개의 인풋 필드를 가로로 정렬 */
.postcode-container {
    width: 512px;
    display: flex;
    gap: 29px; /* 두 인풋 사이의 간격 설정 */
}

/* 우편 번호 입력 필드 크기 조절 */
.postcode-number {
    width: 65% !important; /* !important로 우선순위 높임 */
    padding: 10px !important;
    font-size: 14px !important;
}

/* 우편번호 찾기 버튼 크기 조절 */
.postcode-search {
    padding: 10px 10px;
    width: 25% !important; /* !important로 우선순위 높임 */
    padding: 10px !important;
    font-size: 14px !important;
    background-color: #7785BE;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}

.postcode-search:hover {
    background-color: #535db1;
}

.css-1hr2sou-MuiTablePagination-root .MuiTablePagination-selectLabel {
    display: block;
    margin-bottom: 0px;
}

.css-11cfq65-MuiTablePagination-displayedRows{
    margin-bottom: 0px;
}