* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.username {
    color: #7C97FE;
    font-weight: normal;
}

.Announcement-detail {
    color: #929292;
    font-weight: normal;
    font-size: 0.8rem;
    margin-left: 120px;
}

.profileCard {
    width: 254px;
    height: 421px;
    background: white;
    border-radius: 10px;
    border: 1px solid #C4C4C4;
}

.profile {
    text-align: center;
}

.profile img {
    width: 130px;
    height: 130px;
}

.profile h4 {
    color: #7C97FE;
    font-weight: normal;
    margin-top: 20px;
    margin-bottom: 20px;
}
.profile h2 {
    margin: 10px;
    border-bottom: 1px solid #D0D0D0;
    padding-bottom: 10px;
}

.roleInfo {
    display: flex;
    margin-left: 35px;
}

.Affiliation {
    padding-right: 30px;
    border-right: 1px dotted #D0D0D0;
    margin-right: 30px;
    text-align: center;
}

.role {
    text-align: center;
}

.Announcement {
    border: 1px dotted #DBDBDB;
    background: #F6F8FF;
    width: 220px;
    height: 100px;
    margin-left: 15px;
    margin-top: 20px;
}

.detail-info {
    display: inline-flex;
}

.detail-info img {
    width: 9.82px;
    height: 14.59px;
    vertical-align: middle;
    margin-right: 10px;
}

.detail-info a {
    text-decoration: none;
    color: #2F2F2F;
    margin-left: 5px;
}

#Announcement-detail {
    margin-top: 5px;
    margin-left: 100px;
    text-decoration: none;
}

.Announcement h5 {
    margin-top: 5px;
    margin-left: 8px;
    margin-bottom: 5px;
}

.detail-info {
    align-items: center;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.detail-info span {
    margin: 0;
    font-size: 0.8rem;
}