* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

#card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 20px;
    height: 270px;
    overflow-y: scroll;
}

#card-container::-webkit-scrollbar {
    width: 10px;
}

#card-container::-webkit-scrollbar-thumb {
    background: #7C97FE; /*스크롤바 색상*/
    border-radius: 10px;   /*스크롤바 둥글게 */
}

#card-container::-webkit-scrollbar-track {
    background: #F6F6F6;
}

.card {
    background: white;
    width: 404px;
    height: 255px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1),
                0 6px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: 1px solid white;
}

.card:hover {
    border: 1px solid #2E7AF2;
}

.projectCard-header {
    display: flex;
    margin-bottom: 10px;
    padding-top: 18px;
    padding-left: 20px;
}

.bookmark {
    background: none;
    border: none;
    margin-left: 130px;
    cursor: pointer;
}


.explanation {
    display: flex;
    color: #797979;
    font-weight: 500;
    margin-bottom: 20px;
}

.projectDetails {
    padding-left: 20px;
    padding-right: 20px;
    min-height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-percent {
    color: #2E7AF2;
    margin-left: 6px;
}

.progress-container {
    position: relative;
    margin-bottom: 30px;
}

.progress {
    display: block;
    position: absolute;
    height: 10px;
    width: 95%;
    background: #7C97FE;
    border-radius: 5px;
    z-index: 2;
}

.progress-background {
    position: absolute;
    display: block;
    height: 10px;
    width: 100%;
    background: #CEE0FB;
    border-radius: 5px;
    z-index: 1;
}

.deadline {
    width: 64px;
    height: 26px;
    background: #FD5B5B;
    border-radius: 15px;
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-left: 13px;
    margin-top: 2px;
}

.members img{
    border: 2px solid #2E7AF2;
    border-radius: 50%;
    margin-top: 5px;
}

.members {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
}

.manager {
    display: flex;
    font-size: 13px;
    text-align: center;
    flex-direction: column;
    color: #616161;
    border-right: 1px dotted #D0D0D0;
    height: 60px;
    padding-right: 10px;
}

.reviewer {
    display: flex;
    font-size: 13px;
    text-align: center;
    flex-direction: column;
    color: #616161;
    border-right: 1px dotted #D0D0D0;
    height: 60px;
    padding-left: 10px;
    padding-right: 10px;
}

.labeler {
    position: relative;
    align-items: center;
    font-size: 13px;
    color: #616161;
    margin-left: 10px;
}

.labeler img:first-child {
    display: inline;
    margin-left: 0;
}

.labeler img {
    margin-left: -20px;
}
