* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

.project-card {
    background: white;
    width: 404px;
    height: 255px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1),
                0 6px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: 1px solid white;
    margin-right: 30px;
    margin-bottom: 35px;
    cursor: pointer;
}

.project-card:hover {
    border: 1px solid #2E7AF2;
}

.project-card__header {
    display: flex;
    align-items: center; /* 수직 정렬 */
    padding: 5% 5% 0; /* 상단과 좌우에 패딩 추가 */
}

.project-name {
    font-size: 1.3rem;
    font-weight: bold;
    flex: 2; /* 공간을 가득 차도록 확장 */
    overflow: hidden; /* 넘치는 텍스트는 숨김 처리 */
    white-space: nowrap; /* 한 줄로 표시 */
    text-overflow: ellipsis; /* 텍스트가 넘치면 ...으로 표시 */
}

.project-card__bookmark {
    background: none;
    border: none;
    margin-left: 5%;
    cursor: pointer;
}

.project-card__explanation {
    display: flex;
    color: #797979;
    font-weight: 500;
}

.project-card__details {
    padding-left: 5%;
    padding-right: 5%;
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-card__percent {
    color: #2E7AF2;
    margin-left: 1.8%;
}

.project-card__progress-container {
    position: relative;
    margin-bottom: 30px;
}

.project-card__progress {
    display: block;
    position: absolute;
    height: 10px;
    width: 95%;
    background: #7C97FE;
    border-radius: 5px;
    z-index: 2;
}

.project-card__progress-background {
    position: absolute;
    display: block;
    height: 10px;
    width: 100%;
    background: #CEE0FB;
    border-radius: 5px;
    z-index: 1;
}

.project-card__deadline {
    width: 64px;
    height: 26px;
    border-radius: 15px;
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-left: 13px;
    margin-top: 2px;
}

.project-card__members img{
    border: 2px solid #2E7AF2;
    border-radius: 50%;
    margin-top: 5px;
}

.project-card__members {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
}

.project-card__manager {
    display: flex;
    font-size: 13px;
    text-align: center;
    flex-direction: column;
    color: #616161;
    border-right: 1px dotted #D0D0D0;
    height: 60px;
    padding-right: 10px;
}

.project-card__reviewer {
    display: flex;
    font-size: 13px;
    text-align: center;
    flex-direction: column;
    color: #616161;
    border-right: 1px dotted #D0D0D0;
    height: 60px;
    padding-left: 10px;
    padding-right: 10px;
}

.project-card__labeler {
    position: relative;
    align-items: center;
    font-size: 13px;
    color: #616161;
    margin-left: 10px;
}

.project-card__labeler img:first-child {
    display: inline;
    margin-left: 0;
}

.project-card__labeler img {
    margin-left: -20px;
}
