/* 전체 필터 컨테이너 */
.workstatus__filter-container {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 0.5rem 1.25rem;
    border-radius: 0.625rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
    gap: 0.4375rem;
    width: 83.6%;
    height: 3.75rem;
    margin: 0 auto;
    margin-bottom: 1.25rem;
}

/* 데이터 그리드 셀 스타일 */
.workstatus__custom-cell {
    color: #3e3e3e;
}

/* 데이터 그리드 헤더 스타일 */
.workstatus__custom-header {
    color: #7785BE;
    font-weight: bold !important;
    background-color: rgb(235, 240, 245);
}

/* 구분선 스타일 */
.workstatus__filter-divider {
    border-right: 0.0625rem dashed #909090;
    height: 1.75rem;
    margin: 0 0.5rem;
}

/* 검색 입력 스타일 */
.workstatus__search-input {
    flex-grow: 1;
    background-color: #EAEAEA;
    border: none;
    border-radius: 0.3125rem;
    min-width: 6.25rem;
    padding: 0.5rem 0.9375rem;
    outline: none;
}

/* 검색 버튼 스타일 */
.workstatus__search-btn {
    font-size: 0.9375rem;
    padding: 0.53125rem 1.20rem;
    border-radius: 0.3125rem;
    border: 0.0625rem solid #7785BE;
    color: #7785BE;
    background-color: white;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.workstatus__search-btn:hover {
    background-color: #7785BE;
    color: white;
}

/* 데이터 그리드 헤더 스타일 */
.workstatus__no-header {
    padding-left: 1.25rem !important;
}

.workstatus__no-cell {
    padding-left: 1.25rem !important;
}

/* 텍스트 컬러 */
.workstatus__custom-cell {
    color: #3e3e3e;
}

.workstatus__custom-header {
    color: #7785BE;
    font-weight: bold !important;
}

/* 페이지네이션 스타일 */
.workstatus-pagination-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 100%; 
    margin-top: 1.25rem;
}

.workstatus__filter-select {
    width: 9.6rem;
}
