/* 전체 필터 컨테이너 */
.workstatus__filter-container {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 8px 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    gap: 1rem;
    margin-bottom: 20px;
}

/* 필터 그룹 */
.workstatus__filter-group {
    display: flex;
    gap: 8px;
}

/* 필터 선택창 스타일 */
.workstatus__filter-select {
    padding: 4px 8px;
    border-radius: 5px;
    border: 1px solid #7785BE;
    color: #7785BE;
    min-width: 90px;
    height: 36px;
    font-size: 0.8rem;
    background-color: white;    
    outline: none;
    cursor: pointer;
}

/* 구분선 스타일 */
.workstatus__filter-divider {
    border-right: 1px dashed #909090;
    height: 28px;
    margin: 0 8px;
}

/* 검색 입력 스타일 */
.workstatus__search-input {
    flex-grow: 1;
    background-color: #EAEAEA;
    border: none;
    border-radius: 5px;
    min-width: 100px;
    padding: 8px 15px;
    outline: none;
}

/* 검색 버튼 스타일 */
.workstatus__search-btn {
    padding: 8px 20px;
    border-radius: 5px;
    border: 1px solid #7785BE;
    color: #7785BE;
    background-color: white;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.workstatus__search-btn:hover {
    background-color: #7785BE;
    color: white;
}



/* 데이터 그리드 헤더 스타일 */
.workstatus__no-header {
    padding-left: 20px !important;
}

.workstatus__no-cell {
    padding-left: 20px !important;
}

/* 텍스트 컬러 */
.workstatus__custom-cell {
    color: #3e3e3e;
}

.workstatus__custom-header {
    color: #7785BE;
    font-weight: bold !important; /* 두께가 적용 안 될 경우 !important 사용 */
    /* 두께가 적용 안 될 때는, font-weight가 다른 스타일에 의해 덮어쓰이는지 확인 */
}

/* 페이지네이션 스타일 */
.workstatus-pagination-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 100%; 
    margin-top: 20px;
}