body.join-page {
  margin: 0;
  padding: 0;
  background-color: #12202F;
  font-family: 'Inter', sans-serif;
}

.main-container {
  width: 400px;
  height: 560px;
  position: relative;
  margin: 0 auto;
  margin-top: 50px;
}

.white-box {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 20px;
  position: relative;
}

.data-ink-title {
  position: absolute;
  left: 105px;
  top: 34px;
  color: black;
  font-size: 16px;
  font-weight: 700;
}

.signup-title {
  position: absolute;
  left: 78px;
  top: 72px;
  color: black;
  font-size: 16px;
  font-weight: 700;
}

.signup-subtitle {
  position: absolute;
  left: 78px;
  top: 91px;
  color: #72737B;
  font-size: 8px;
  font-weight: 300;
}

.field {
  position: absolute;
  left: 78px;
  width: 260px;
}

.field .required {
  color: #3751B4;
  font-size: 8px;
}

.field .label {
  color: #3751B4;
  font-size: 10px;
  margin-left: 6px;
}

.field .input-text {
  position: absolute;
  left: 58px;
  top: 2px;
  color: black;
  font-size: 7px;
}

.field .input-field {
  position: absolute;
  left: 58px;
  top: 15px; /* 위치 조정 */
  width: 160px;
  border: none; /* 모든 테두리 제거 */
  border-bottom: 1px solid #BEC2CB; /* 밑줄 추가 */
  background-color: transparent; /* 배경 투명 */
  outline: none; /* 포커스 시 나타나는 외곽선 제거 */
  font-size: 10px; /* 글자 크기 유지 */
  color: black; /* 글자 색상 유지 */
  padding: 0; /* 패딩 제거 */
  margin: 0; /* 마진 제거 */
}

.field .input-progress {
  position: absolute;
  left: 58px;
  top: 15px;
  width: 80px;
  height: 20px;
  border: 1px solid #04FF1D;
}

.field .status-icon {
  position: absolute;
  left: 231px;
  top: 2px;
  width: 12px;
  height: 12px;
}

.password-requirements {
  position: absolute;
  left: 150px;
  top: 309px;
}

.password-requirements .requirement-text {
  color: #98989A;
  font-size: 8px;
  margin-bottom: 5px;
}

.password-requirements .requirement-text.success {
  color: #47E22E;
}

.create-account-button {
  position: absolute;
  left: 148px;
  top: 394px;
  width: 130px;
  height: 27px;
  background-color: #7C97FE;
  color: white;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  line-height: 27px;
  border-radius: 22px;
}

.social-signup {
  position: absolute;
  left: 78px;
  top: 457px;
  width: 258px;
  text-align: center;
}

.social-buttons {
  background-color: #DDE6F4;
  border-radius: 20px;
  padding: 8px 0;
}

.social-buttons img {
  margin: 0 15px;
}

.social-signup-text {
  margin-top: 10px;
  color: black;
  font-size: 10px;
  font-weight: 100;
}

.social-signup-text .highlight {
  color: #0047FF;
  font-weight: 700;
}