table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #000000; /* 테두리 색 */
    border-radius: 10px; /* 모서리 둥글게 */
    overflow:hidden; /* 테두리 밖으로 넘치는 부분 없애기 */
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-left: 5vw;
    margin-right: 50vw;
    max-width:100%;
    overflow-x: auto;
    /* 내용이 넘어가면 스크롤이 생기도록 */
  }
  th, td {
    padding: 10px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    text-align: left;
    margin: 15vw;
  }
  th {
    background-color: #f2f2f2;
  }
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  tr:hover {
    background-color: #efe9e9;
  }
  /* 첫 번째와 마지막 행의 셀에 둥근 모서리 적용 */
  tr:first-child th:first-child {
    border-top-left-radius: 10px;
  }
  tr:first-child th:last-child {
    border-top-right-radius: 10px;
  }
  tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
  }
  tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
  }

  .search_list{
    position: relative;
    max-width:max-content;
  }