/* 공통 스타일 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Pretendard', Arial, sans-serif;
    color: #3E3E3E;
    background-color: #F6F6F6;
    overflow: hidden;
}

.layout {
    display: flex;
    height: 100vh;
    position: relative;
}

/* 사이드바 스타일 */
.sidebar {
    position: fixed; /* fixed로 고정하여 화면 왼쪽에 고정 */
    width: 4.375rem;
    padding: 0.625rem;
    text-align: center;
    box-sizing: border-box;
    z-index: 20;
    background: #1F253D;
    height: 100vh; /* 화면 전체 높이 */
}

.sidebar__logo {
    margin-bottom: 2.5rem;
}

.sidebar__menu {
    display: grid;
}

.sidebar__icon {
    margin-bottom: 1.25rem;
    width: 3.125rem;
    height: 3.125rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar__icon--active {
    background-color: #4E5676;
    border-radius: 15%;
    height: 3rem;
}

/* 엑스트라 사이드바 */
.extra-sidebar {
    z-index: 10;
    position: fixed;
    left: -10.625rem; /* 기본적으로 숨겨진 상태 */
    width: 10.625rem;
    height: 100vh;
    background-color: #1F253D;
    transition: left 0.3s ease;
}

.extra-sidebar__menu {
    margin-top: 6.8rem; /* 메뉴 상단 간격 조정 */
}

.extra-sidebar__link {
    display: block;
    color: white;
    text-decoration: none;
    margin-left: 1.25rem; /* 아이콘과 텍스트 사이의 간격을 줄임 */
    margin-bottom: 2.12rem; /* 링크들 간의 간격 조정 */
    width: 7rem; /* 링크 너비 */
    padding: 0.5rem 0; /* 텍스트와 아이콘 간격 조정 */
    line-height: normal; /* line-height 제거로 기본 텍스트 높이 적용 */
}


/* 메인(콘텐츠와 헤더) 영역 */
.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 4.375rem;
    transition: margin-left 0.3s ease;
}

.header {
    display: flex;
    z-index: 2;
    justify-content: space-between;
    align-items: center;
    padding: 0.25rem 1.25rem;
    background-color: white;
    border-bottom: 0.0625rem solid #e2e8f0;
    box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
    height: 4.625rem;
    position: relative;
}

.header__back-icon {
    position: absolute;
    left: 1.4375rem;
    top: 50%;
    transform: translateY(-50%);
    width: 1.75rem;
    height: 1.75rem;
}

.header__title {
    margin-left: 3.25rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: #25283B;
}

.header__search {
    display: flex;
    align-items: center;
    background-color: #EAEAEA;
    border-radius: 6px;
    padding: 0.3125rem 0.625rem;
    justify-content: flex-start; /* 왼쪽 정렬 */
    transition: width 0.3s ease; /* 너비가 변할 때 부드럽게 조정 */
    width: 22.3125rem;
    height: 2rem;
}

.header__search-input {
    flex: 1;
    border: none;
    background-color: transparent;
    padding-left: 0.5rem;
    outline: none;
    transition: width 0.3s ease; /* 너비가 변할 때 부드럽게 조정 */
}

/* 화면 너비가 900px 이하일 때 */
@media (max-width: 900px) {
    .header__search {
        width: 12rem; /* 검색바 전체 너비 */
    }

    .header__search-input {
        width: 10rem; /* input 창 너비 */
    }
}

/* 화면 너비가 600px 이하일 때 */
@media (max-width: 600px) {
    .header__search {
        width: 6rem; /* 검색바 전체 너비 */
    }

    .header__search-input {
        width: 4rem; /* input 창 너비 */
    }
}


.header__search-icon {
    width: 1rem;
    height: 1rem;
}

/* 헤더 아이콘 스타일 */
.header__icons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: nowrap;
}

.header__icon {
    margin-left: 1rem;
    object-fit: contain;
}

.header__icon--chat {
    width: 1.8975rem;
    height: 1.8975rem;
}

.header__icon--alert {
    width: 1.485rem;
    height: 1.485rem;
}

.header__icon--profile {
    width: 2.475rem;
    height: 2.475rem;
    border-radius: 50%;
}

.header__icon--dropdown {
    width: 0.5rem;
    height: 0.5rem;
    margin-left: 0.3125rem;
    margin-right: 3.75rem;
}


/* 콘텐츠 영역 스타일 */
.content {
    padding: 1.25rem;
    flex: 1;
}
