/* 공통 스타일 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px; /* 기본 폰트 크기 설정 (1rem = 16px) */
}

body {
    font-family: 'Pretendard', Arial, sans-serif;
    color: #3E3E3E;  /* 기본 폰트 색상 */
    display: flex;
    height: 100vh;
    background-color: #F6F6F6;
}

/* 사이드바 스타일 */
.sidebar {
    width: 3.8rem;
    background-color: #1F253D;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    justify-content: space-between;
}

.sidebar__logo {
    background-color: #D9E2FF;  /* 배경 색상 설정 */
    width: 1.8rem;
    height: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.sidebar__logo img {
    width: 1.7rem;
    height: 1.7rem;
}

.sidebar__nav {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sidebar__nav-list {
    list-style-type: none;
    padding: 0;
}

.sidebar__nav-item {
    display: flex;
    justify-content: center;
    padding: 0.9375rem 0;
    cursor: pointer;
}

.sidebar__nav-item img {
    width: 1.5rem;
    height: 1.5rem;
    object-fit: contain;
}

/* 메인 콘텐츠 영역 스타일 */
.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* 헤더 스타일 */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.625rem 1.25rem;
    background-color: white;
    border-bottom: 0.0625rem solid #e2e8f0;
    box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);  /* 헤더 그림자 */
    height: 3.75rem;
}

.header__title {
    font-size: 1.125rem; /* 18px -> rem */
    font-weight: bold;
}

/* 검색바 스타일 */
.header__search-bar {
    display: flex;
    align-items: center;
    background-color: #EAEAEA;
    border-radius: 6px;
    padding: 0.3125rem 0.625rem;
    width: 15.625rem;
    margin-left: 20rem;
    justify-content: flex-end;
}

.header__search-input {
    flex: 1;
    border: none;
    background-color: transparent;
    outline: none;
    padding-left: 0.5rem;
}

.header__search-icon {
    width: 0.9375rem;
    height: 0.9375rem;
    margin-left: auto;
}

/* 화면 너비가 900px 이하일 때 */
@media (max-width: 900px) {
    .header__search-bar {
        width: 12rem;
        margin-left: 10rem;
    }
}

/* 화면 너비가 600px 이하일 때 */
@media (max-width: 600px) {
    .header__search-bar {
        width: 6rem;
        margin-left: 5rem;
    }
}

.header__icons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: nowrap;
}

/* 헤더 아이콘 스타일 */
.header__icon {
    margin-left: 0.625rem;
}

.header__icon--chat {
    width: 1.4375rem;
    height: 1.4375rem;
    object-fit: contain;
}

.header__icon--alert {
    width: 1.125rem;
    height: 1.125rem;
    object-fit: contain;
}

.header__icon--profile {
    width: 1.875rem;
    height: 1.875rem;
    border-radius: 50%;
}

.header__icon--dropdown {
    width: 0.5rem;
    height: 0.5rem;
    margin-left: 0.3125rem;
    margin-right: 3.75rem;
    object-fit: contain;
}

/* 콘텐츠 영역 스타일 */
.content {
    padding: 1.25rem;
    flex: 1;
}
