/* 검색 영역 전체를 감싸는 컨테이너 */
.search {
    padding: 1.25rem;
    background-color: white;
    border: 1px solid #909090;
    border-radius: 0.625rem;
    display: inline-block;
    box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
    margin-left: 30.375rem;
    margin-top: 1.125rem;
}

.search__filters {
    display: flex;
    align-items: center;
}

.search__group {
    display: flex;
    gap: 1.0625rem; /* 17px 간격 */
}

.search__divider {
    width: 0.0625rem; /* 1px */
    height: 2.25rem; /* 36px */
    margin: 0 2rem; /* 64px 간격 */
    border-right: 0.125rem dashed #909090; /* 2px 점선 */
}

/* 검색창과 버튼 */
.search__input {
    display: flex;
    align-items: center;
    background-color: #EAEAEA;
    border-radius: 0.375rem;
    padding: 0.3125rem 0.625rem;
    justify-content: flex-start;
    transition: width 0.3s ease;
    width: 22.3125rem; /* 357px */
    height: 2.5rem;
    margin-left: 1.125rem; /* 18px */
}

.search__input-field {
    flex: 1;
    border: none;
    background-color: transparent;
    padding-left: 0.5rem;
    outline: none;
    transition: width 0.3s ease;
}

/* 검색 버튼 */
.search__button {
    width: 8.6875rem; /* 139px */
    height: 2.5rem;
    background-color: white;
    color: #7785BE;
    border: 1px solid #7785BE;
    font-size: 0.875rem; /* 14px */
    cursor: pointer;
    border-radius: 0.3125rem;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 1.125rem; /* 18px */
}

.search__button:hover {
    background-color: #7785BE;
    color: white;
}








